/* Author: Sergio Rodriguez Chavez */

/* Design for hint button  */
#hint {
    text-align: center;
    width: 70px;
    border-radius: 10px;
    padding: 5px;
    background-color: #ebbe9c;
}

/* Hint button design for hiding the text stored */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: transparent;
    color: black;
    text-align: center;   
}

  /* Show the hint text when mouse hovers the hint button */
.tooltip:hover .tooltiptext {
    visibility: visible;
}